## Deliverable 2. Create a Customer Travel Destinations Map.

In [52]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [53]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("C:\\Users\\angel\\OneDrive\\Desktop\\Class_Folder\\Module_6\\Weather_Database\\WeatherPy_database.csv")
city_data_df.head()

,Weather,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sedalia,US,38.7045,-93.2283,80.33,67,5,10.00,clear sky
1,1,Atuona,PF,-9.8000,-139.0333,77.56,72,10,15.77,clear sky
2,2,Iqaluit,CA,63.7506,-68.5145,44.33,93,100,2.30,light rain
3,3,Rikitea,PF,-23.1203,-134.9692,70.25,60,79,17.76,broken clouds
4,4,Tiksi,RU,71.6872,128.8694,41.40,81,100,13.20,overcast clouds

In [54]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 100

In [55]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Weather,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sedalia,US,38.7045,-93.2283,80.33,67,5,10.00,clear sky
1,1,Atuona,PF,-9.8000,-139.0333,77.56,72,10,15.77,clear sky
3,3,Rikitea,PF,-23.1203,-134.9692,70.25,60,79,17.76,broken clouds
6,6,Vaini,TO,-21.2000,-175.2000,78.96,94,75,5.75,broken clouds
11,11,Victoria,HK,22.2855,114.1577,89.96,86,75,5.01,light rain
12,12,Airai,TL,-8.9266,125.4092,75.69,50,42,3.87,scattered clouds
20,20,Albany,US,42.6001,-73.9662,74.03,90,79,2.95,broken clouds
22,22,Norman Wells,CA,65.2820,-126.8329,75.24,43,75,9.22,broken clouds
23,23,Alofi,NU,-19.0595,-169.9187,76.89,78,100,12.66,overcast clouds
24,24,La Seyne-Sur-Mer,FR,43.0982,5.8847,79.88,64,26,3.83,scattered clouds

In [56]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Weather                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [57]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_preferred_cities_df=preferred_cities_df.dropna()
clean_preferred_cities_df

,Weather,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Sedalia,US,38.7045,-93.2283,80.33,67,5,10.00,clear sky
1,1,Atuona,PF,-9.8000,-139.0333,77.56,72,10,15.77,clear sky
3,3,Rikitea,PF,-23.1203,-134.9692,70.25,60,79,17.76,broken clouds
6,6,Vaini,TO,-21.2000,-175.2000,78.96,94,75,5.75,broken clouds
11,11,Victoria,HK,22.2855,114.1577,89.96,86,75,5.01,light rain
...,...,...,...,...,...,...,...,...,...,...
725,725,Boone,US,39.0334,-92.3335,81.79,80,19,8.46,few clouds
726,726,Samarai,PG,-10.6167,150.6667,81.28,80,31,12.28,scattered clouds
727,727,Rossano,IT,39.5751,16.6349,77.36,50,0,5.97,clear sky
728,728,Svirstroy,RU,60.7999,33.7248,72.54,65,56,7.72,broken clouds
729,729,Senno,RU,59.5336,33.9167,74.26,73,43,6.15,scattered clouds

In [58]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sedalia,US,80.33,clear sky,38.7045,-93.2283,
1,Atuona,PF,77.56,clear sky,-9.8000,-139.0333,
3,Rikitea,PF,70.25,broken clouds,-23.1203,-134.9692,
6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
11,Victoria,HK,89.96,light rain,22.2855,114.1577,
12,Airai,TL,75.69,scattered clouds,-8.9266,125.4092,
20,Albany,US,74.03,broken clouds,42.6001,-73.9662,
22,Norman Wells,CA,75.24,broken clouds,65.2820,-126.8329,
23,Alofi,NU,76.89,overcast clouds,-19.0595,-169.9187,
24,La Seyne-Sur-Mer,FR,79.88,scattered clouds,43.0982,5.8847,

In [59]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

hotel_df

Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sedalia,US,80.33,clear sky,38.7045,-93.2283,
1,Atuona,PF,77.56,clear sky,-9.8000,-139.0333,
3,Rikitea,PF,70.25,broken clouds,-23.1203,-134.9692,
6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
11,Victoria,HK,89.96,light rain,22.2855,114.1577,
...,...,...,...,...,...,...,...
725,Boone,US,81.79,few clouds,39.0334,-92.3335,
726,Samarai,PG,81.28,scattered clouds,-10.6167,150.6667,
727,Rossano,IT,77.36,clear sky,39.5751,16.6349,
728,Svirstroy,RU,72.54,broken clouds,60.7999,33.7248,
729,Senno,RU,74.26,scattered clouds,59.5336,33.9167,

In [60]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Sedalia,US,80.33,clear sky,38.7045,-93.2283,
1,Atuona,PF,77.56,clear sky,-9.8000,-139.0333,
3,Rikitea,PF,70.25,broken clouds,-23.1203,-134.9692,
6,Vaini,TO,78.96,broken clouds,-21.2000,-175.2000,
11,Victoria,HK,89.96,light rain,22.2855,114.1577,
...,...,...,...,...,...,...,...
725,Boone,US,81.79,few clouds,39.0334,-92.3335,
726,Samarai,PG,81.28,scattered clouds,-10.6167,150.6667,
727,Rossano,IT,77.36,clear sky,39.5751,16.6349,
728,Svirstroy,RU,72.54,broken clouds,60.7999,33.7248,
729,Senno,RU,74.26,scattered clouds,59.5336,33.9167,

In [61]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [62]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [63]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)

# Call the figure to plot the data.
fig
# 11b. Display the figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [47]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))